#Navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  width: 100vw;
  max-width: 75rem;
  height: 5rem;
  position: sticky;
  padding: 1rem 2rem;
  top: 0;
  z-index: 3;
  background-color: #567;

}


.navList{
    color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: #567;
    height: 100%;
  }
    
.navList:hover{
    background-color: green;
    
  }
  
 